.container{
    width: 500px;
    max-height: 500px;
}

.square{
    box-sizing: border-box;
    float: left;
    /* width: 30px; 
    height: 30px; */
    margin: 0;
    padding: 0;
    border: 1px solid grey;
}
